body {
  font-family: sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

html {
  /* 🎨 Primary Colors */
  --primary: #0874ac;
  --secondary: #054f73;

  /* 🎨 Accent Colors */
  --accent: #5dc5bb;
  --highlight: #7edcff;

  /* 🎨 Backgrounds */
  --bg-light: white;
  --bg-dark: black;
}

/*********fonts*************/
.noto-sans-normal {
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.crimson-text-bold {
  font-family: "Crimson Text", serif;
  font-weight: 200;
  font-style: normal;
}

.asap-condensed-light {
  font-family: "Asap Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

h2 {
  font-family: "Asap Condensed";
  font-size: clamp(25px, 5vw, 55px);
  color: var(--secondary);
}

p {
  font-family: Noto Sans;
  font-size: clamp(13px, 1.5vw, 20px);
  color: var(--primary);
}

.section-about {
  display: flex;
  flex-direction: column;
  padding: 3rem 5rem;
  margin-top: 5rem;
  margin-bottom: 0;
  height: 40vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(./imgs/grass.svg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

/*********grids*************/
.grid1_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
