---
import "../styles/style.css";
import SectionOne from"../components/SectionOne.astro"; 
import Button from "../components/Button.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro Fra Html</title>
    

  </head>
  <body>
   <SectionOne title="Our Team" backgroundColor="#f3f4f6">
	<Button variant="dark" text="Bliv frivillig"></Button>
      
    </SectionOne>
  </body>
</html>
