---
import "../styles/style.css";
import SectionOne from"../components/SectionOne.astro"; 
import Button from "../components/Button.astro";
import Header from "../components/Header.astro";
import ImgSection from "../components/ImgSection.astro";
import Navigation from "../components/Navigation.astro";
import Roundbut from "../components/Roundbut.astro";
import Footer from "../components/Footer.astro";
import SectionTwo from "../components/SectionTwo.astro";
import SectionThree from "../components/SectionThree.astro";
import Card from "../components/Card.astro";
import Kontakt from "../components/Kontakt.astro";
---

<!doctype html>
<html lang="en">
  <head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	
<!-- p font -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<!-- h1 font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <title>Astro Fra Html</title>

<!-- h2 font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    

  </head>
  <body>
<body>
    <Navigation />
    <Header id="headersec" title="Bliv frivillig" title2="Misbrugsportalen">
        <p class="headertxt">Støtte og rådgivning til dem, der har brug for det mest.</p>
    </Header>
  
    <ImgSection imageSrc="./imgs/support3image.webp" imageAlt="3 Piger støtter hinanden"/>
    <section class="section-about">
		<Roundbut/>
        <h2>HJÆLP TIL MISBRUGERE OG PÅRØRENDE</h2>
        <p>Rådgivning til mennesker i direkte eller indirekte kontakt med konsekvenserne af afhængighed. (misbrugeren, forældre, søskende, samlevere, anden familie mv.)</p>
    </section>
        <SectionOne title="PÅRØRENDE NETVÆRK">
        <div id="omos" class="grid1_1-1">
            <div>
                <p>
                    Hos Misbrugsportalen arbejder vi for at give støtte, vejledning og fællesskab til dem, der er berørt af misbrug. Vores mission er at skabe et trygt rum, hvor mennesker kan søge hjælp, dele deres historier og finde styrken til at komme videre.
                </p>
                <p>
                    Som frivillig spiller du en afgørende rolle i at yde støtte, skabe opmærksomhed og gøre en reel forskel i andres liv. Uanset om du har erfaring på området eller blot et ønske om at hjælpe, er der plads til dig i vores fællesskab.
                </p>
            </div>
            <div class="img-case">
                <img src="./imgs/supporterCall.webp" style="border-radius: 1rem;" alt="Billede om end support kvinde">
                <p>Støtte og rådgivning til dem, der har brug for det mest.</p>
            </div>
        </div>
    </SectionOne>

    <SectionThree ImgSrc="./imgs/helpinghand.webp" >
        <p>Misbrugsportalen er mere end en støttelinje – det er et fællesskab af mennesker, der forstår, lytter og hjælper hinanden.</p>
        <p>Som frivillig bliver du en del af et stærkt netværk, hvor vi sammen arbejder for at gøre en positiv forskel.</p>
        <Button link="https://www.misbrugsportalen.dk/bliv-medlem.aspx?_gl=1*j2qoee*_ga*NzQ5NDEwODI0LjE3NDI1NDY5Mzk.*_up*MQ..*_ga_0R6LDEM2LW*MTc0MjU0NjkzOC4xLjAuMTc0MjU0NjkzOC4wLjAuMA.." text="GØR EN FORSKEL"></Button>
    </SectionThree>

	 <SectionTwo title="HØR FRA NOGLE AF VORES FRIVILLIGE!" text="Vores frivillige kommer fra alle samfundslag, forenet af et fælles mål: at støtte dem, der har brug for hjælp. Uanset om du lytter, deltager i oplysningsarbejde eller hjælper bag kulisserne, betyder din indsats noget.">
		<div id="hfus" class="grid1_1-1">
			<Card quote="At være en del af fællesskabet betyder at støtte – og selv blive støttet -Anonym" bgImageSrc="./imgs/helpinghand.webp" ImageSrc="./imgs/quotationmarks.svg">
				</Card>	
			<Card quote="At være frivillig hos Misbrugsportalen har været en af de mest givende oplevelser i mit liv. At vide, at jeg kan give nogen håb og vejledning, selv i deres sværeste tider, gør hver indsats det hele værd -Anonym" bgImageSrc="./imgs/support3image.webp" ImageSrc="./imgs/quotationmarks.svg">
				</Card>
			<Card quote="Jeg begyndte som frivillig, fordi jeg ønskede at give tilbage. Hvad jeg ikke forventede var, hvor meget jeg selv ville vokse af det -Anonym" bgImageSrc="./imgs/togetherness.webp" ImageSrc="./imgs/quotationmarks.svg">
				</Card>
			<Card quote="Det kan være hårdt at høre andres historier, men det minder mig om, hvorfor vi gør det. -Anonym" bgImageSrc="./imgs/woman.webp" ImageSrc="./imgs/quotationmarks.svg">
				</Card>
				
		</div>

	 </SectionTwo>

	  <Kontakt title="KONTAKT OS DIREKTE" bgImageSrc="./imgs/blueBg.svg">
        <div class="contact-div">
            
               <ul>
				<li>Ring til vores Sekratiat</li>
				<li>Pårørende Netværket - MisbrugsportalenBagsværd<br>S Hovedgade 126, 2880 Bagsværd</li>
				<li></li>
			   </ul>

			   <ul>
				<li>Mandag - tirsdag: 15.00 - 18.00</li>
				<li>Onsdag - fredag: 18.00 - 21.00</li>

				<li>TLF:**70 60 44 46**</li>
				<li>MAIL:mail@misbrugsportalen.dk</li>
			   </ul>
            
           
        </div>
    </Kontakt>
    <section class="end-section">
        <h2>
            FORANDRING STARTER MED<br>MENNESKER, DER BRYDER SIG OM ANDRE
        </h2>
            <div class="grid3_1-1">
                <div class="img-case"><img src="./imgs/shoulderHand.svg" alt="billed af en hånd på skulderen"></div>
                <div>
                    <p>Uanset din baggrund eller erfaring kan din indsats gøre en forskel. Som frivillig hos Misbrugsportalen bliver du en del af et engageret fællesskab, der arbejder for en vigtig sag.</p>
                </div>
                
            </div>
            <Button link="https://www.misbrugsportalen.dk/bliv-medlem.aspx?_gl=1*j2qoee*_ga*NzQ5NDEwODI0LjE3NDI1NDY5Mzk.*_up*MQ..*_ga_0R6LDEM2LW*MTc0MjU0NjkzOC4xLjAuMTc0MjU0NjkzOC4wLjAuMA.." text="GØR EN FORSKEL"></Button>
        

    </section>
	
</body>
<Footer bgColor="var(--bg-dark)"/>
</html>
