---
import "../styles/style.css";
import SectionOne from"../components/SectionOne.astro"; 
import Button from "../components/Button.astro";
import Header from "../components/Header.astro";
import ImgSection from "../components/ImgSection.astro";
import Navigation from "../components/Navigation.astro";
import Roundbut from "../components/Roundbut.astro";
import SectionTwo from "../components/SectionTwo.astro";
---

<!doctype html>
<html lang="en">
  <head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	
<!-- p font -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<!-- h1 font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <title>Astro Fra Html</title>

<!-- h2 font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    

  </head>
  <body>
<body>
    <Navigation />
    <Header title="Bliv frivillig" title2="Misbrugsportalen">
        <p class="headertxt">Støtte og rådgivning til dem, der har brug for det mest.</p>
    </Header>
    <ImgSection imageSrc="./imgs/support3image.webp" imageAlt="3 Piger støtter hinanden"/>

    <section class="section-about">
        <h2>HJÆLP TIL MISBRUGERE OG PÅRØRENDE</h2>
        <p>Rådgivning til mennesker i direkte eller indirekte kontakt med konsekvenserne af afhængighed. (misbrugeren, forældre, søskende, samlevere, anden familie mv.)</p>
    </section>

    <SectionOne title="Our Team" backgroundColor="#f3f4f6">
        <Button variant="dark" size="storknap" text="Bliv frivillig"></Button>
    </SectionOne>

    <SectionOne title="PÅRØRENDE NETVÆRK">
        <div class="grid1_1-1">
            <div>
                <p>
                    Hos Misbrugsportalen arbejder vi for at give støtte, vejledning og fællesskab til dem, der er berørt af misbrug. Vores mission er at skabe et trygt rum, hvor mennesker kan søge hjælp, dele deres historier og finde styrken til at komme videre.
                </p>
                <p>
                    Som frivillig spiller du en afgørende rolle i at yde støtte, skabe opmærksomhed og gøre en reel forskel i andres liv. Uanset om du har erfaring på området eller blot et ønske om at hjælpe, er der plads til dig i vores fællesskab.
                </p>
            </div>
            <div class="img-case">
                <img src="./imgs/supportstaff.webp" alt="Billede om end support kvinde">
                <p>Støtte og rådgivning til dem, der har brug for det mest.</p>
            </div>
        </div>
    </SectionOne>
  
</body>

</html>
