---
const { text, variant, size } = Astro.props;
---

<button class={`${variant} ${size}`}>
  {text}
</button>

<style> 
button {
  font-family: "Asap Condensed", sans-serif;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 1rem;
  color: white;
  background-color: #5DC5BB;
  text-align: center;
  cursor: pointer;
  width: fit-content;
  min-width: 100px;
  font-family: "Asap Condensed", sans-serif;
  font-size: clamp(20px, 2vw, 70px);
  font-weight: 700;
  border-radius: 25px;
   border: 2px solid #054F73; 
  
}

.storknap{
 width: 150px;  
  height: 50px;

}


.dark{
color: #fff;
  background-color: #5DC5BB;
}

.dark:hover{
     background-color: #4ca198;
}

.light:hover{
  color: #000;
  background-color: #fff;  
}

.light {
  color: #000;
  background-color: #fff;
}   

.light:hover {
  background-color: #b8b8b8;
}
</style>
