---
const { text, variant, size } = Astro.props;
---
<style>
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@200&display=swap');

button {
  font-family: "Asap Condensed", sans-serif;
}
</style>

<button class={`${variant} ${size}`}>
  {text}
</button>

<style> 
button {
  
  border: none;
  outline: 0;
  display: inline-block;
  padding: 1rem;
  color: white;
  background-color: #5DC5BB;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-family: "Asap Condensed", sans-serif;
  font-size: 20px;
  border-radius: 25px;
   border: 2px solid #054F73; 
  
}

.storknap{
 width: 150px;  
  height: 50px;

}


.dark{
color: #fff;
  background-color: #5DC5BB;
}

.dark:hover{
     background-color: #4ca198;
}

.light:hover{
  color: #000;
  background-color: #fff;  
}

.light {
  color: #000;
  background-color: #fff;
}   

.light:hover {
  background-color: #b8b8b8;
}
</style>
