---
import Roundbut from "./Roundbut.astro";
const {imageSrc, imageAlt} =Astro.props;
---

<section>
    <div class="imgContainer">
<img src=`${imageSrc}` alt=`Image og ${imageAlt}` />
</div>
 <div class="curve"></div>

 <div class="arrow-burger">
    <a href="#roundbtn"></a>
            </div>
            
</section>  


<style>
    section{
        position: relative;
        overflow: hidden;
       z-index: 1;

        
        .imgContainer{
            width: 100%;
            height: fit-content;
            position: relative;
            overflow: hidden;

        }

          .curve {

                position: absolute;
                top: -30%; 
                right:-10.5%;
                width: 120vw;
                height: 50%;
                background-color: white;
                border-bottom-left-radius: 60% 100%;
                border-bottom-right-radius: 60% 100%;
          
                z-index: 2;
            }

        img{
            width: 100%;
            display: block;
            object-fit: cover;
            
        }
           .arrow-burger {
            width: 15vw;
           aspect-ratio: 16/9;
            cursor: pointer;
            background-image:url(./imgs/downarrow.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top:0.5%;
            left: 43.5%; 
            z-index: 900;
            transition: transform 0.3s ease-in-out;
            }

            .arrow-burger:hover{
                background-image: url(./imgs/dArrowDark.svg);
                transform: scale(1.1);
            }


            @media (max-width: 600px) {
             .arrow-burger {
                display: none;
             }   
            }
            

            
    }
</style>