---


---

<nav>
  <p class="logo"><a href="#">LOGO</a></p>
  <ul>
    <li><a href="#">BLIV MEDLEM</a></li>
    <li><a href="#">MØD VORES FRIVILLIGE</a></li>
     <li><a href="#">OM OS</a></li>
  </ul>
</nav>

<style>
  nav {
  padding: 0.25rem 2rem;
  background-color: var(--bg-light);
  color: var(--bg-light);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



a {
 
   font-family: "Asap Condensed";
    color: var(--primary);
  font-size:22px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}
</style>
