---
---
<div class="menuheader">
 <div class="logo">
            <a href="./index.astro/sec1">
                <img src="../imgs/MPlogo.svg" alt="Logo">
            </a>
        </div>
<nav>
  <ul class="menu">
    <li><a href="#">BLIV MEDLEM</a></li>
    <li><a href="#">MØD VORES FRIVILLIGE</a></li>
     <li><a href="#">OM OS</a></li>
  </ul>

  <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
</nav>
</div>

<style>

  .logo {
  width: 200px;
  height: 100%;
}

.logo img{
  width: 100%;
  height: 100%;
}


  .menuheader{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: none;
  z-index: 1000;
  
  }
  
  nav {
  padding: 0.25rem;
  background-color: var(--accent);
  color: var(--bg-light);
  border-radius: 5rem;
  border-top-right-radius:0 ;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border-left: 2px solid var(--primary);
  border-top: 2px solid var(--primary); */
}

.menu li {
  color: var(--primary)
  font-family: Noto Sans;
  list-style: none;
  font-size: clamp(13px, 1.5vw, 20px);
  color: var(--primary);
  margin-bottom: 0.5rem;

}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: var(--bg-light);
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: black;
}

.burger {
  width: 30px;
  height: 25px;
  cursor: pointer;
  background-color: var(--bg-light);
  display: none;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: var(--accent);
  margin-bottom: 5px;
  transition: 0.2s linear;
}

@media screen and (max-width: 800px) {

    .menuheader{
  padding: 5px;
 
  
  }

    .logo {
  width: 150px;
  height: 100%;
}

  .menu {
    display: none;
  }
  .burger {
    display: block;
  }

   nav {
    
  border-radius: 0;
  padding: 0;
  border-left:none;
  border-top: none;
}
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #1b1c1d;  
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgb(162, 226, 58, 0.5);
    z-index: 1000;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}
@media (min-width: 800px) {
  .menu li:last-child a {
    border-radius: 5px;
    padding: 10px;
  }
}
</style>

<!-- <script client:load>
document.addEventListener("DOMContentLoaded", function () {
  const burger = document.querySelector(".burger");
  const nav = document.querySelector("nav");
  const menu = document.querySelector(".menuheader");

  if (burger && nav && menu) {
    burger.addEventListener("click", burgerClick);
    menu.addEventListener("click", menuClick);

    function burgerClick() {
      burger.classList.toggle("active");
      nav.classList.toggle("active");
    }

    function menuClick() {
      burger.classList.remove("active");
      nav.classList.remove("active");
    }
  } else {
    console.warn("One or more elements are missing.");
  }
});
</script> -->
