<!DOCTYPE html>
<html lang="da">


<div  id="roundbtn" class="big-btn">
    <a href="https://www.misbrugsportalen.dk/bliv-medlem.aspx?_gl=1*j2qoee*_ga*NzQ5NDEwODI0LjE3NDI1NDY5Mzk.*_up*MQ..*_ga_0R6LDEM2LW*MTc0MjU0NjkzOC4xLjAuMTc0MjU0NjkzOC4wLjAuMA.." class="volunteer-btn">BLIV FRIVILLIG HER</a>
</div>

</html>


<style>

.volunteer-btn {
  width: 20rem;
  height:20rem;
  aspect-ratio: 1:1;
  background: linear-gradient(135deg, #5dc5bb, #0874ac);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  font-weight: 800; 
  color: white;
  font-family: "Asap Condensed", sans-serif;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}


.volunteer-btn:hover {
  transform: scale(1.1);
}

.big-btn {
  position: absolute;
  top: -65%;
  left: 50%;
  z-index: 2;
  
  transform: translate(-50%);
}

@media (max-width: 600px) {
  .volunteer-btn {
  width: 15rem;
  height:15rem;
  }

  .big-btn {
  top: -50%;
  
}

}

</style>