---
const { title, backgroundColor } = Astro.props;
---

<section style=`background-color:${backgroundColor};`>
  <h2>{title}</h2>
  <slot />
</section>

<style>
  section {
  padding: 2rem;
  background-color: var(--secondary);
  margin-top: 0;

  p{
  color:white ;
  font-size: clamp(9px, 1vw, 15px);

  }

  h2{
    color:rgb(255, 255, 255)
  }

 .img-case{
    width: 600px;
  }

  .img-case img{
    width:100%;
    height: auto;
   
  }
}
</style>